html, body {
  height: 100%;
}

.introduction {
  justify-content: space-around;
}

.introduction-container {
  margin-top: 30px;
}

.list-wrap {
  padding-left: 0;
  background: white;
  padding-top: 150px;
}

.list-container {
  margin-top: 0;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.directory-button {
  top: 22%;
}


  .card-body {
    height: auto;
    width: 100%;
    padding-right: 45px !important;
    padding-left: 45px !important;
    text-align: center;
    padding-bottom: 45px !important;
  }

.event {
  display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    margin-right: 25px;
    margin-left: 25px;
    height: 420px;
    width: 350px;
}

@media (max-width: 800px) and (min-width: 501px) {
  .list-container {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 50px;
  }

  .list-wrap{
    height: auto;
  }

  .event {
    width: 70%;
  }

}

@media (max-width: 500px) {
  .list-container {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .list-wrap{
    height: auto;
    padding-top: 60px !important;
  }

  .event {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .item {
    width: 90%;
  }

}

@media (max-width: 1000px) {
  .list-wrap{
    padding-left: 30px;
    padding-right: 30px
  }

  .event {
    margin-left: 10px;
    margin-right: 10px;
  }
}
