@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

.nav-ul {
  background: hsl(0 0% 0% / 0.25);
    backdrop-filter: blur(2rem);
}

.page1_publications {
  background-image: none;
  height: auto;
  background: #07062e;
}

.directory-button {
  color: gray;
  margin-top: 40px;
  margin-left: 50px;
  justify-content: start;
  font-family: Montserrat;

}

.directory-button a {
    font-weight: normal;
  color: gray;
}

.directory-button a:hover {
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 -15px;
  font-family: Montserrat;
}

.col-md-8 {
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
  padding: 0 15px;
}

.post-title {
  text-align: center;
  font-weight: 600;
}

.post-meta {
  text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 14px;
    color: #333;
}

.post-image img {
  width: 100%;
}

.post-content {
  text-align: start;
}

.post-description p {
  margin-top: 45px;
  margin-bottom: 1rem;
  font-size: 18px;
}

.col-md-4 {
  flex: 0 0 33.33333333%;
  width: 66.66666667% !important;
  padding: 0;
  margin-top: 50px;
}

.sidebar {
  margin-top: 50px;
}

.post-nav-list {
    margin-top: 47px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.mb--45 {
    margin-bottom: 45px;
}

.move-up {
    transform: translateY(0);
}

.post-nav-list .nav-item {
    max-width: 48%;
    width: 360px;
    text-align: left;
}

.post-nav-list .nav-item.previous a {
    padding-left: 90px;
  text-decoration: none;
}

.post-nav-list .nav-item.previous a:hover {
  color: white;
  background: #07062e;
}

.post-nav-list .nav-item a:hover .link-text, .post-nav-list .nav-item a:hover .link-text span {
    color: #fff;
}

.post-nav-list .nav-item a {
    display: block;
    padding: 47px 30px 57px;
    height: 100%;
    border: 1px solid #eee;
    background: #fff;
    font-size: 24px;
    line-height: 1.375;
    font-weight: 600;
    color: #222;
    word-wrap: break-word;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
}

.post-nav-list .nav-item a .link-text {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #999;
    margin-bottom: 28px;
}

.post-nav-list .nav-item a .link-text span {
    left: -61px;
    position: absolute;
    top: -3px;
    font-size: 24px;
    color: #222;
}

.post-nav-list .nav-item.next {
    text-align: right;
}

.post-nav-list .nav-item {
    max-width: 48%;
    width: 360px;
    text-align: left;
}

.post-nav-list .nav-item.next a {
    padding-right: 90px;
  text-decoration: none;
}

.post-nav-list .nav-item.next a:hover {
  color: white;
  background: #07062e;
}

.post-nav-list .nav-item.next a .link-text span {
    right: -61px;
    left: auto;
}

.post-nav-list .nav-item.next a:hover .link-text span {
  color: white;
}

@media (max-width: 500px) {
  .directory-button {
    margin-left: 0;
    display: flex;
    justify-content: center;
  }

  .post-nav-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .post-nav-list .nav-item {
    max-width: 100%;
    width: 90%;
    text-align: left;
  }

  .post-nav-list .nav-item a {
    margin-bottom: 40px;
  }

  .col-md-4 {
    width: 100% !important;
  }

  .col-md-8 {
    padding: 0 30px !important;
  }
}
